# List the timezone to be running this container as
#   TZ IDs: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ_ID=America/New_York

# The 200+ character session cookie string for your active seedbox IP session. 
# See here: https://www.myanonamouse.net/preferences/index.php?view=security
MAM_ID=<redacted>